@charset "UTF-8";
@import url("https://use.typekit.net/fln0ron.css");
@font-face {
  font-family: "GothamA";
  src: url("../../fonts/gotham/Gotham-Light.otf") format("truetype");
}
@font-face {
  font-family: "GothamB";
  src: url("../../fonts/gotham/Gotham-Medium.otf") format("truetype");
}
@font-face {
  font-family: "GothamC";
  src: url("../../fonts/gotham/Gotham-Book.ttf") format("truetype");
}
@keyframes moving {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes movingslow {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.site-project {
  margin-bottom: -3.125rem;
}

.fyl3-wrap {
  position: relative;
}
.fyl3-wrap.artist {
  padding-top: 3.125rem;
}

.move-txt {
  transform: translate(0, 0);
  animation: moving 16s linear infinite;
}

.move-line {
  transform: translate(0, 0);
  animation: movingslow 75s linear infinite;
}

.splitted {
  position: relative;
  display: inline-block;
}
.splitted.bold {
  font-weight: bold;
}

.container {
  margin-bottom: -7.5rem;
}

.fyl-section1, .fyl-artist1 {
  overflow: hidden;
}
.fyl-section1__img, .fyl-artist1__img {
  margin: 0 auto;
  position: relative;
  min-width: 75rem;
}
.fyl-section1__video, .fyl-artist1__video {
  margin: 0 auto;
  position: relative;
  line-height: 0;
  text-align: center;
  background-color: #000;
  overflow: hidden;
}
.fyl-section1__video--source, .fyl-artist1__video--source {
  width: 100%;
  height: 50rem;
  position: relative;
  object-fit: cover;
}
.fyl-section1__video .btn-play, .fyl-artist1__video .btn-play {
  top: 50%;
  left: 50%;
  display: inline-block;
  position: absolute;
  width: 6.25rem;
  height: 6.25rem;
  transform: translate(-50%, -50%);
  border: none;
}
.fyl-section1__video .btn-play.is-play, .fyl-artist1__video .btn-play.is-play {
  background: url("../../images/project/fyl3/icon_play_btn.png?ver=211025") no-repeat center center / cover;
}
.fyl-section1__intro, .fyl-artist1__intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.fyl-section1__intro.is-hide, .fyl-artist1__intro.is-hide {
  display: none;
}
.fyl-section1__play, .fyl-artist1__play {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  width: 6.25rem;
  height: 6.25rem;
  background: url("../../images/project/fyl3/icon_play_btn.png?ver=211025") no-repeat center center / cover;
  z-index: 100;
  cursor: pointer;
}
.fyl-section1__play.is-hide, .fyl-artist1__play.is-hide {
  display: none;
}
.fyl-section1__pause, .fyl-artist1__pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 6.25rem;
  height: 6.25rem;
  background: url("../../images/project/fyl3/icon_pause_btn.png?ver=211025") no-repeat center center / cover;
  z-index: 100;
}
.fyl-section1__pause.is-hide, .fyl-artist1__pause.is-hide {
  display: none;
}
.fyl-section2__wrap, .fyl-artist2__wrap {
  padding: 9.375rem 0 0;
  overflow: hidden;
}
.fyl-section2__information, .fyl-artist2__information {
  margin: 0 auto;
  width: 90rem;
  min-width: 90rem;
}
.fyl-section2__fix, .fyl-artist2__fix {
  margin: 0 auto;
  width: 90rem;
  text-align: right;
}
.fyl-section2__fix--word, .fyl-artist2__fix--word {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.125rem;
  font-weight: 300;
  font-family: "GothamB";
  line-height: 0.875rem;
  letter-spacing: 0.03125rem;
}
.fyl-section2__fix--word:first-child, .fyl-artist2__fix--word:first-child {
  text-align: left;
}
.fyl-section2__fix--word:last-child, .fyl-artist2__fix--word:last-child {
  text-align: right;
}
.fyl-section2__moving, .fyl-artist2__moving {
  display: flex;
  position: relative;
}
.fyl-section2__moving--word, .fyl-artist2__moving--word {
  padding-left: 1.25rem;
  margin: 0;
  display: inline-block;
  font-family: retiro-std-48pt, sans-serif;
  font-weight: 400;
  font-size: 15rem;
  line-height: 100%;
  text-transform: uppercase;
}
.fyl-section2__content, .fyl-artist2__content {
  margin: 0 auto;
  font-size: 1.625rem;
  font-weight: 300;
  font-family: "AppleSDGothicNeo", "Noto Sans KR", sans-serif;
  line-height: 2.6rem;
  letter-spacing: -0.0625rem;
  overflow: hidden;
}
.fyl-section2__box, .fyl-artist2__box {
  margin: 0 auto;
  width: 90rem;
  min-width: 90rem;
  padding-top: 7.8125rem;
  padding: 7.8125rem 1.25rem 0 1.25rem;
}
.fyl-section2__info, .fyl-artist2__info {
  display: inline-block;
  width: 100%;
  padding-top: 3.75rem;
  z-index: 99;
  position: relative;
}
.fyl-section2__name, .fyl-artist2__name {
  display: block;
}
.fyl-section2__name--ko, .fyl-artist2__name--ko {
  margin: 0;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "AppleSDGothicNeo", "Noto Sans KR", sans-serif;
}
.fyl-section2__name--fyl, .fyl-artist2__name--fyl {
  margin: 0;
  margin-top: 0.5rem;
  display: inline-block;
  float: right;
  font-size: 0.875rem;
  font-family: "Gotham";
  line-height: 100%;
}
.fyl-section2__title, .fyl-artist2__title {
  margin: 0;
  margin-left: 1.25rem;
  font-size: 1.5rem;
  font-family: "GothamB";
  display: inline-block;
}
.fyl-section2__detail, .fyl-artist2__detail {
  position: relative;
}
.fyl-section2__size, .fyl-artist2__size {
  padding-top: 0.625rem;
  margin-left: 1.25rem;
  display: inline-block;
  float: left;
  font-size: 1.25rem;
  font-family: "GothamA";
  font-weight: 400;
}
.fyl-section2__sns, .fyl-artist2__sns {
  margin-right: 1.25rem;
  display: inline-block;
  float: right;
  font-size: 1.25rem;
}
.fyl-section2__sns .btn-website,
.fyl-section2__sns .btn-insta, .fyl-artist2__sns .btn-website,
.fyl-artist2__sns .btn-insta {
  width: auto;
  height: 2.75rem;
  border-style: none;
  border: 1px solid #000;
  border-radius: 2.6875rem;
  font-size: 1.125rem;
  font-family: "GothamA";
  line-height: 160%;
  padding: 0 0.6875rem;
}
.fyl-section2__sns .btn-insta, .fyl-artist2__sns .btn-insta {
  margin-left: 0.625rem;
}
.fyl-section2 {
  background-color: #ffe100;
}
.fyl-section2__fix {
  display: flex;
}
.fyl-section2__fix--word {
  flex: 1;
}
.fyl-section2__wrap {
  padding: 9.375rem 0 9.5rem;
  overflow: hidden;
}
.fyl-section2__moving--word {
  font-size: 15rem;
  line-height: 100%;
}
.fyl-section3 {
  position: relative;
  background-color: #000;
  overflow: hidden;
}
.fyl-section3__artist {
  margin: 0 auto;
  padding: 9.375rem 1.25rem 0;
  width: 90rem;
  min-width: 90rem;
  color: #ffe100;
}
.fyl-section3__title {
  margin: 0;
  padding-bottom: 1.625rem;
  display: inline-block;
  font-size: 1.5rem;
  font-family: "GothamB";
}
.fyl-section3__item {
  padding-right: 1.25rem;
  display: inline-block;
  font-size: 2.75rem;
  font-family: retiro-std-48pt, sans-serif;
  line-height: 4.05rem;
  letter-spacing: -0.03125rem;
}
.fyl-section3__item--ko {
  font-size: 1.5rem;
  font-family: "AppleSDGothicNeo", "Noto Sans KR", sans-serif;
  font-weight: 100;
}
.fyl-section3__item.before-opening {
  color: #70661d;
}
.fyl-section3__link {
  display: block;
}
.fyl-artist3 {
  padding: 1.875rem 0;
  margin-top: -7.5rem;
  z-index: 10;
}
.fyl-artist3__view .ov-control-panel {
  display: none;
}
.fyl-section4 {
  position: relative;
  background-color: #000;
  overflow: hidden;
}
.fyl-section4__work {
  margin: 0 auto;
  padding: 12.3125rem 0 31.25rem;
  width: 90rem;
  min-width: 90rem;
}
.fyl-section4__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.fyl-section4__item {
  position: relative;
}
.fyl-section4__item.floating1 {
  top: 3.125rem;
  left: 1.25rem;
  padding-bottom: 10.4375rem;
}
.fyl-section4__item.floating2 {
  bottom: 1.25rem;
  right: 0rem;
}
.fyl-section4__item.floating3 {
  left: 5rem;
}
.fyl-section4__item.floating4 {
  top: 0rem;
}
.fyl-section4__item.floating5 {
  left: 3.75rem;
  bottom: 10rem;
}
.fyl-section4__item.floating6 {
  left: 5.625rem;
  bottom: 7.5rem;
}
.fyl-section4__item.floating7 {
  top: 0;
}
.fyl-section4__item.floating8 {
  top: 10rem;
  left: 3.75rem;
}
.fyl-section4__item.floating9 {
  top: 23.75rem;
  left: 4.375rem;
}
.fyl-section4__item.floating10 {
  left: 1.25rem;
  bottom: 7.5rem;
}
.fyl-section4__dim {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.fyl-section4__name {
  padding-bottom: 0.1875rem;
}
.fyl-section4__name--eng, .fyl-section4__name--ko {
  margin: 0;
  padding: 0;
  color: #ffe100;
}
.fyl-section4__name--eng {
  font-size: 1.5rem;
  font-family: retiro-std-48pt, sans-serif;
  text-transform: uppercase;
}
.fyl-section4__name--ko {
  font-size: 1.5rem;
  font-family: "AppleSDGothicNeo", "Noto Sans KR", sans-serif;
  font-weight: 100;
  line-height: 130%;
  letter-spacing: -0.05rem;
}
.fyl-section4__img {
  width: auto;
  border: 2px solid #ffe100;
  box-sizing: border-box;
}
.fyl-section4__video {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ffe100;
}
.fyl-artist4 {
  position: relative;
  background-color: #000;
  overflow: hidden;
}
.fyl-artist4__work {
  margin: 0 auto;
  padding: 15.25rem 0 0;
  width: 75rem;
}
.fyl-artist4__work.yeonjinyoung {
  padding: 9.375rem 0 0;
}
.fyl-artist4__work.kangjaewon {
  padding: 0 0 6rem;
}
.fyl-artist4__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.fyl-artist4__item {
  position: relative;
}
.fyl-artist4__item.floating1.yangseoungbin {
  left: 2.5rem;
}
.fyl-artist4__item.floating1.yeonjinyoung {
  bottom: 3.125rem;
}
.fyl-artist4__item.floating1.kangjaewon {
  top: 12.1875rem;
}
.fyl-artist4__item.floating1.kimjunsu {
  top: -7.5rem;
  left: 0;
  width: 38rem;
}
.fyl-artist4__item.floating1.kimeunha {
  top: -7.5rem;
  left: -1.875rem;
  width: 45rem;
}
.fyl-artist4__item.floating2 {
  left: 11.25rem;
}
.fyl-artist4__item.floating2.yangseoungbin {
  bottom: 1.25rem;
  left: 6.25rem;
}
.fyl-artist4__item.floating2.kangjaewon {
  top: 5.875rem;
}
.fyl-artist4__item.floating2.kimjunsu {
  top: 3.75rem;
  left: 0;
  width: 32.375rem;
}
.fyl-artist4__item.floating2.kimeunha {
  top: 12.5rem;
  left: 4.375rem;
  width: 36.1875rem;
}
.fyl-artist4__item.floating3 {
  top: 7.5rem;
  left: 0rem;
}
.fyl-artist4__item.floating3.yangseoungbin {
  top: 3.75rem;
  left: 2.5rem;
}
.fyl-artist4__item.floating3.choisujin {
  top: 1.875rem;
}
.fyl-artist4__item.floating3.yeonjinyoung {
  left: -6.25rem;
}
.fyl-artist4__item.floating3.kangjaewon {
  top: 18.75rem;
  left: 6.25rem;
  width: 28.125rem;
}
.fyl-artist4__item.floating3.kimjunsu {
  top: 6.25rem;
  left: -1.875rem;
  width: 36.1875rem;
}
.fyl-artist4__item.floating3.kimeunha {
  top: 0;
  width: 32.375rem;
}
.fyl-artist4__item.floating4 {
  top: 3.75rem;
  left: -1.25rem;
}
.fyl-artist4__item.floating4.yangseoungbin {
  left: 5rem;
}
.fyl-artist4__item.floating4.choisujin {
  top: 8.125rem;
  left: 0;
}
.fyl-artist4__item.floating4.yeonjinyoung {
  top: -11.25rem;
  left: 0;
}
.fyl-artist4__item.floating4.kangjaewon {
  top: -5rem;
  left: 12.5rem;
}
.fyl-artist4__item.floating4.kimjunsu {
  top: 9.375rem;
  left: -8.125rem;
  width: 45rem;
}
.fyl-artist4__item.floating4.kimeunha {
  top: 12.5rem;
  left: 0;
  width: 39.9375rem;
}
.fyl-artist4__item.floating5 {
  left: 39.375rem;
  bottom: 21.875rem;
}
.fyl-artist4__item.floating5.yangseoungbin {
  left: 40.625rem;
  bottom: 13.75rem;
}
.fyl-artist4__item.floating5.choisujin {
  top: 12.5rem;
  left: 5rem;
  padding-bottom: 20rem;
}
.fyl-artist4__item.floating5.yeonjinyoung {
  top: 0;
  left: 43.75rem;
}
.fyl-artist4__item.floating5.kangjaewon {
  top: 1.25rem;
  left: 15.625rem;
  width: 38.75rem;
}
.fyl-artist4__item.floating5.kimjunsu {
  left: 1.875rem;
  bottom: -12.5rem;
  width: 38rem;
}
.fyl-artist4__item.floating5.kimeunha {
  width: 38rem;
  left: -6.25rem;
  top: 9.375rem;
}
.fyl-artist4__item.floating6 {
  top: 12.5rem;
  right: 33.75rem;
}
.fyl-artist4__item.floating6.yangseoungbin {
  right: 36.875rem;
  top: 10.625rem;
}
.fyl-artist4__item.floating6.choisujin {
  left: 8.4375rem;
  top: 18.75rem;
}
.fyl-artist4__item.floating6.choisujin .fyl-artist4__img {
  width: 26.25rem;
}
.fyl-artist4__item.floating6.yeonjinyoung {
  padding-bottom: 18.75rem;
}
.fyl-artist4__item.floating6.kimjunsu {
  top: 31.25rem;
  left: 2.5rem;
}
.fyl-artist4__item.floating6.kimjunsu .fyl-artist4__video {
  width: auto;
  height: 47.8125rem;
}
.fyl-artist4__item.floating6.kimeunha {
  top: 25rem;
  left: -2.5rem;
  width: 48.25rem;
}
.fyl-artist4__item.floating7 {
  left: 46.875rem;
  bottom: 18.125rem;
}
.fyl-artist4__item.floating7.yangseoungbin {
  left: 43.75rem;
  bottom: 16.25rem;
}
.fyl-artist4__item.floating7.kimjunsu {
  left: -6.25rem;
  top: 9.375rem;
  padding-bottom: 18.75rem;
  width: 48.25rem;
}
.fyl-artist4__item.floating7.kimeunha {
  left: 12.5rem;
  top: 15.625rem;
  width: 22.75rem;
  padding-bottom: 21.875rem;
}
.fyl-artist4__border img {
  border: 2px solid #FFE100;
}
.fyl-artist4__dim {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.fyl-artist4__name {
  padding-bottom: 0.5rem;
  line-height: 1.375rem;
}
.fyl-artist4__name--eng, .fyl-artist4__name--ko {
  margin: 0;
  padding: 0;
  color: #ffe100;
  font-size: 1.25rem;
}
.fyl-artist4__name--eng {
  font-family: "GothamA";
}
.fyl-artist4__name--ko {
  font-family: "GothamA";
}
.fyl-artist4__img {
  width: auto;
}
.fyl-artist4__link {
  display: inline-block;
}
.fyl-artist4__link--map {
  top: 2.75rem;
  right: 4.375rem;
  position: absolute;
  background: url("../../images/project/fyl3/icon_map.png") no-repeat center center/contain;
  background-size: 2.25rem 2.25rem;
  width: 2.25rem;
  height: 2.25rem;
}
.fyl-artist4__video {
  width: auto;
  box-sizing: border-box;
  border: 2px solid #ffe100;
}
.fyl-section5 {
  background-color: #ffe100;
  overflow: hidden;
}
.fyl-section5__content {
  margin: 0 auto;
  display: flex;
  width: 68.75rem;
  min-width: 68.75rem;
  padding: 6.25rem 0 9.375rem;
}
.fyl-section5__logo {
  line-height: 0;
}
.fyl-section5__logo--img {
  margin-bottom: 0.125rem;
}
.fyl-section5__paragraph + .fyl-section5__paragraph {
  padding-left: 6.25rem;
}
.fyl-section5__paragraph {
  width: 18.75rem;
  display: inline-block;
}
.fyl-section5__paragraph--title {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 400;
  font-family: retiro-std-48pt, sans-serif;
  line-height: 100%;
}
.fyl-section5__paragraph--title span {
  bottom: 0.3125rem;
  position: relative;
  font-size: 2.125rem;
}
.fyl-section5__paragraph--txt {
  padding-top: 0.8125rem;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "AppleSDGothicNeo", "Noto Sans KR", sans-serif;
  line-height: 130%;
  text-align: justify;
  word-break: break-all;
}
.fyl-section5__paragraph--txt.about {
  letter-spacing: -0.05625rem;
}
.fyl-section5__paragraph--txt.contributors {
  letter-spacing: -0.075rem;
}
.fyl-section5__paragraph--txt.art {
  letter-spacing: -0.0625rem;
}
.fyl-artist5 {
  background-color: #000;
  overflow: hidden;
}
.fyl-artist5__content {
  margin: 0 auto;
  width: 75rem;
  font-size: 1.25rem;
  font-family: "AppleSDGothicNeo", "Noto Sans KR", sans-serif;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.05625rem;
}
.fyl-artist5__content.kangjaewon {
  width: 76.25rem;
}
.fyl-artist6 {
  padding: 7.5rem 0 13.125rem;
  color: #fff;
  background-color: #000;
}
.fyl-artist6__bottom {
  overflow: hidden;
}
.fyl-artist6__moving {
  display: flex;
  position: relative;
  padding-bottom: 3.125rem;
}
.fyl-artist6__moving--word {
  padding-left: 3.125rem;
  margin: 0;
  display: inline-block;
  font-size: 1.75rem;
  font-family: retiro-std-48pt, sans-serif;
  text-transform: uppercase;
}
.fyl-artist6__moving--word span {
  position: relative;
  top: -0.28125rem;
  font-size: 1.875rem;
  line-height: 0;
}
.fyl-artist6__more {
  margin: 0 auto;
  width: 7.5rem;
  height: 7.5rem;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 100%;
}
.fyl-artist6__link {
  display: block;
  margin: 0;
  padding: 2.875rem 0;
  font-family: "GothamB";
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 100%;
  text-transform: uppercase;
}
/*텍스트 강조 색상변경*/
.gray {
  opacity: 0.3;
}

.yellow {
  color: #353321;
  transition: all 0.3s;
}
.yellow span {
  font-style: italic;
}

/*# sourceMappingURL=fyl3.css.map */
