@charset "UTF-8";
.main-banner {
  position: relative;
  min-width: 75rem;
  height: 56.25rem;
  margin: 0;
  padding: 0;
}
.main-banner__item {
  display: inline-block;
  height: inherit;
  list-style: none;
}
.main-banner__inner {
  display: block;
  width: 100%;
  height: inherit;
  overflow: hidden;
}
.main-banner__box {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-size: cover;
  background-position: center;
}
.main-banner__wrap {
  position: relative;
  width: 100%;
  height: inherit;
}
.main-banner__img {
  width: 100%;
  height: 100%;
}
.main-banner__video {
  width: 100%;
  height: inherit;
  object-fit: none;
}
.main-banner__content {
  bottom: 5.5rem;
  position: absolute;
  width: 100%;
  text-align: center;
}
.main-banner__name {
  font-size: 1.375rem;
  line-height: 1.75rem;
}
.main-banner__name.is-white {
  color: #fff;
}
.main-banner__name.is-black {
  color: #000;
}
.main-banner--prev {
  width: 1.125rem;
  height: 2.375rem;
  position: absolute;
  left: 3.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: url("../../images/common/ico_slide_prev.svg?ver=211025") no-repeat center center / contain;
  background-size: 1.125rem 2.375rem;
  z-index: 5;
  cursor: pointer;
}
.main-banner--next {
  width: 1.125rem;
  height: 2.375rem;
  position: absolute;
  right: 3.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: url("../../images/common/ico_slide_next.svg?ver=211025") no-repeat center center / contain;
  background-size: 1.125rem 2.375rem;
  z-index: 5;
  cursor: pointer;
}
.main-banner__pagination {
  bottom: 2.75rem;
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 100;
  font-size: 0;
  line-height: 0;
}
.main-banner__pagination.is-white {
  color: #fff;
}
.main-banner__pagination.is-white .swiper-pagination-current:after {
  background-color: #fff;
}
.main-banner__pagination.is-black {
  color: #000;
}
.main-banner__pagination.disabled {
  display: none !important;
}
.main-banner__pagination .swiper-pagination-current {
  font-size: 1.125rem;
  line-height: 1.5833333333;
  padding-right: 0.6875rem;
  position: relative;
}
.main-banner__pagination .swiper-pagination-current:after {
  content: "";
  width: 1px;
  height: 0.625rem;
  background-color: #000;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.main-banner__pagination .swiper-pagination-total {
  font-size: 1.125rem;
  line-height: 1.5833333333;
  padding-left: 0.625rem;
}
.main-banner .swiper-progress-bar {
  bottom: 0;
  position: absolute;
  width: 100%;
  display: block;
  z-index: 1;
  height: 0.1875rem;
}
.main-banner .swiper-progress-bar .slide_progress-bar {
  margin: 0 auto;
  position: absolute;
  width: 30rem;
  height: 0.1875rem;
  background: rgba(255, 255, 255, 0.5);
  clear: both;
  opacity: 0;
  bottom: 1.25rem;
  left: 0;
  right: 0;
}
.main-banner .swiper-progress-bar .slide_progress-bar:after {
  position: absolute;
  top: 0;
  left: 0;
  background: #9B192F;
  height: 100%;
  width: 0;
  content: "";
  transition: 0.1s width linear;
}
.main-banner .swiper-progress-bar.active .slide_progress-bar {
  opacity: 1;
}
.main-banner .swiper-progress-bar.animate .slide_progress-bar:after {
  width: 100%;
  transition: width linear;
  transition-delay: unset;
  transition-duration: 5s;
}

.main-search {
  position: relative;
  display: block;
  padding-top: 11.25rem;
}
.main-search__wrap {
  min-width: 1200px;
  text-align: center;
}
.main-search__top {
  display: block;
}
.main-search__result {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
}
.main-search__txt {
  padding-top: 0.3125rem;
  font-size: 0.875rem;
  font-weight: 300;
}
.main-search__num {
  color: #9B192F;
}
.main-search__bottom {
  position: relative;
  padding: 3.75rem 0;
}
.main-search__list {
  display: inline-block;
}
.main-search__item + .main-search__item {
  margin-left: 0.625rem;
}
.main-search__item {
  float: left;
  display: inline-block;
  padding: 0.3125rem 0.5rem;
  border: 1px solid #cbcbcb;
}
.main-search__item.is-active {
  color: #9B192F;
  border: 1px solid #9B192F;
}
.main-search__inner {
  display: block;
  font-size: 0.875rem;
  font-weight: 300;
}
.main-search .search__result {
  width: 75rem;
  margin: auto;
  margin-bottom: 7.5rem;
}

.main-viewed {
  position: relative;
  display: block;
  padding-top: 11.25rem;
}
.main-viewed__wrap {
  min-width: 1200px;
  text-align: center;
}
.main-viewed .viewed__result {
  width: 75rem;
  margin: auto;
  margin-bottom: 7.5rem;
}
.main-viewed .viewed__result--noti {
  padding: 9.375rem 0 18.75rem;
  font-size: 0.875rem;
  font-weight: 300;
}

.main-new {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 6.25rem 0 6.25rem;
}
.main-new__wrap {
  display: flex;
  align-items: center;
}
.main-new__header {
  position: relative;
  text-align: center;
  padding-top: 3.4375rem;
}
.main-new__title {
  top: 0;
  position: relative;
  font-size: 1.875rem;
  line-height: 2rem;
  z-index: 90;
  font-weight: 300;
}
.main-new__left {
  margin: 0 auto;
  flex: 1;
  display: inline-block;
  width: 21.25rem;
  min-width: 21.25rem;
}
.main-new__container {
  overflow: visible;
}
.main-new__slide {
  flex: 1;
  position: relative;
  margin: 0 1.125rem;
  float: right;
  display: inline-block;
  width: 98.75rem;
  min-width: 98.75rem;
  overflow: hidden;
}
.main-new__slide .swiper-wrapper {
  transition-timing-function: linear;
}
.main-new__prev {
  width: 0.5rem;
  height: 1rem;
  position: absolute;
  left: 8.125rem;
  background: url("../../images/common/ico_slide_prev.svg?ver=211025") no-repeat center center / contain;
  background-size: 0.5rem 1rem;
  z-index: 5;
  cursor: pointer;
}
.main-new__next {
  width: 0.5rem;
  height: 1rem;
  position: absolute;
  left: 204px;
  background: url("../../images/common/ico_slide_next.svg?ver=211025") no-repeat center center / contain;
  background-size: 0.5rem 1rem;
  z-index: 5;
  cursor: pointer;
}
.main-new__item {
  padding: 0 0.15625rem;
  box-sizing: border-box;
}
.main-new__inner {
  display: block;
  width: 100%;
  line-height: 0;
}
.main-new__img {
  display: block;
  width: auto;
}
.main-new__content {
  bottom: 6.625rem;
  position: absolute;
  color: #000;
  text-align: center;
}
.main-new__name {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.1875rem;
  padding: 0 0.625rem;
}
.main-new__price {
  padding-top: 0.3125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.main-new__option {
  display: block;
  padding-top: 2.375rem;
}
.main-new__pagination {
  top: -0.3125rem;
  width: 100%;
  position: relative;
  color: #000;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.main-new__pagination .swiper-pagination-current {
  font-size: 1.125rem;
  line-height: 1.5833333333;
  padding-right: 0.6875rem;
  position: relative;
}
.main-new__pagination .swiper-pagination-current:after {
  content: "";
  width: 1px;
  height: 0.875rem;
  background-color: #B8B8B8;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.main-new__pagination .swiper-pagination-total {
  font-size: 1.125rem;
  line-height: 1.5833333333;
  padding-left: 0.625rem;
}
.main-new__more {
  display: block;
  padding-top: 2.375rem;
}
.main-new__link {
  display: block;
}
.main-new__button {
  margin: 0 auto;
  width: 10rem;
  padding: 0.625rem 0;
  border: 1px solid #000;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.main-banner2 {
  position: relative;
  min-width: 75rem;
  height: 56.25rem;
  /**********
  * [QA - 디자인팀::2022-01-06]
  * - 모바일 풀페이지 메인세션 1~ 4번까지만 적용
  * - 디바이스 높이값 상관없이 full 이미지처리
  **********/
}
.main-banner2__inner {
  display: block;
  width: 100%;
  height: inherit;
  overflow: hidden;
}
.main-banner2__source {
  display: block;
}
.main-banner2__source--img {
  height: 100%;
}
.main-banner2__source--video {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-size: cover;
  background-position: center;
}
.main-banner2__img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}
.main-banner2__video {
  width: 100%;
  height: inherit;
  object-fit: cover;
}
.main-banner2__wrap {
  position: relative;
  width: 100%;
  height: inherit;
}
.main-banner2__content {
  bottom: 5.5rem;
  width: 100%;
  position: fixed;
  text-align: center;
}
.main-banner2__name {
  font-size: 1.375rem;
  line-height: 1.75rem;
}
.main-banner2__name.is-white {
  color: #fff;
}
.main-banner2__name.is-black {
  color: #000;
}
.main-banner2__pagination {
  bottom: 2.75rem;
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 99;
  font-size: 0;
  line-height: 0;
}
.main-banner2__pagination.is-white {
  color: #fff;
}
.main-banner2__pagination.is-white .swiper-pagination-current:after {
  background-color: #fff;
}
.main-banner2__pagination.is-black {
  color: #000;
}
.main-banner2__pagination.disabled {
  display: none !important;
}
.main-banner2__pagination .swiper-pagination-current {
  font-size: 1.125rem;
  line-height: 1.5833333333;
  padding-right: 0.6875rem;
  position: relative;
}
.main-banner2__pagination .swiper-pagination-current:after {
  content: "";
  width: 1px;
  height: 0.625rem;
  background-color: #000;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.main-banner2__pagination .swiper-pagination-total {
  font-size: 1.125rem;
  line-height: 1.5833333333;
  padding-left: 0.625rem;
}
.main-banner2 .swiper-progress-bar {
  bottom: 0;
  position: absolute;
  width: 100%;
  display: block;
  z-index: 1;
  height: 0.1875rem;
}
.main-banner2 .swiper-progress-bar .slide_progress-bar {
  margin: 0 auto;
  position: absolute;
  width: 30rem;
  height: 0.1875rem;
  background: rgba(255, 255, 255, 0.5);
  clear: both;
  opacity: 0;
  bottom: 1.25rem;
  left: 0;
  right: 0;
}
.main-banner2 .swiper-progress-bar .slide_progress-bar:after {
  position: absolute;
  top: 0;
  left: 0;
  background: #9B192F;
  height: 100%;
  width: 0;
  content: "";
  transition: 0.1s width linear;
}
.main-banner2 .swiper-progress-bar.active .slide_progress-bar {
  opacity: 1;
}
.main-banner2 .swiper-progress-bar.animate .slide_progress-bar:after {
  width: 100%;
  transition: width linear;
  transition-delay: unset;
  transition-duration: 5s;
}
.main-banner2 .main-banner, .main-banner2 .main-banner2, .main-banner2 .main-new {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.main-banner2 .main-banner .main-banner__inner, .main-banner2 .main-banner2 .main-banner__inner, .main-banner2 .main-new .main-banner__inner {
  width: auto;
}
.main-banner2 .main-banner .main-banner__source--img, .main-banner2 .main-banner2 .main-banner__source--img, .main-banner2 .main-new .main-banner__source--img {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.main-banner2 .main-banner .main-banner__video,
.main-banner2 .main-banner .main-banner2__video, .main-banner2 .main-banner2 .main-banner__video,
.main-banner2 .main-banner2 .main-banner2__video, .main-banner2 .main-new .main-banner__video,
.main-banner2 .main-new .main-banner2__video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}
.main-banner2 .main-banner .main-banner__img,
.main-banner2 .main-banner .main-banner2__img, .main-banner2 .main-banner2 .main-banner__img,
.main-banner2 .main-banner2 .main-banner2__img, .main-banner2 .main-new .main-banner__img,
.main-banner2 .main-new .main-banner2__img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  font-size: 0;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}
.main-banner2 .main-new {
  height: auto;
}
@media screen and (min-device-height: 920px) {
  .main-banner2 .main-new__content {
    bottom: 100px;
  }
}
.main-banner2 .main-collection {
  position: relative;
  margin-top: 3.75rem;
}
.main-banner2 .main-collection__center {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.main-banner2 .main-collection__inner {
  display: block;
  position: absolute;
  width: 100%;
}
.main-banner2 .main-collection__img {
  width: 100%;
  display: block;
}
.main-banner2 .main-collection__button {
  margin: 0 1.25rem;
  padding: 0.875rem 0;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: 0.875rem;
}
.main-banner2 .main-membership {
  color: #9B192F;
  border-bottom: 1px solid #cbcbcb;
  position: relative;
}
.main-banner2 .main-membership .membership-wrap {
  padding: 3.75rem 0;
  text-align: center;
}
.main-banner2 .main-membership__header {
  font-size: 0.75rem;
}
.main-banner2 .main-membership__title {
  font-size: 1.25rem;
}
.main-banner2 .main-membership__logo {
  padding: 1.5rem 0 1.875rem;
}
.main-banner2 .main-membership__img {
  width: 2.625rem;
  height: 2.8125rem;
}
.main-banner2 .main-membership__info {
  padding-bottom: 2.1875rem;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.25rem;
}
.main-banner2 .main-membership__link {
  display: block;
}
.main-banner2 .main-membership__button {
  width: 13.125rem;
  margin: 0 auto;
  padding: 0.5rem 0;
  color: #fff;
  background: #9b192f;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-transform: uppercase;
}
.main-banner2 .main-project {
  position: relative;
  padding-bottom: 3.125rem;
}
.main-banner2 .main-project__header {
  padding: 3.75rem 0 2.5rem;
  text-align: center;
  font-size: 0.75rem;
}
.main-banner2 .main-project__brand {
  font-weight: 400;
}
.main-banner2 .main-project__title {
  font-size: 1.25rem;
  font-weight: 400;
}
.main-banner2 .main-project__link {
  display: block;
}
.main-banner2 .main-project__wrap {
  position: relative;
}
.main-banner2 .main-project__link + .main-banner2 .main-project__link {
  padding-top: 0.25rem;
}
.main-banner2 .main-project__visual {
  position: relative;
}
.main-banner2 .main-project__img {
  width: 100%;
  display: block;
}
.main-banner2 .main-project__name {
  width: 100%;
  position: absolute;
  color: #fff;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.main-banner2 .main-search {
  overflow: hidden;
}
.main-banner2 .main-search__wrap {
  padding: 0 1.25rem;
  text-align: center;
}
.main-banner2 .main-search__top {
  display: block;
  padding-bottom: 1.875rem;
}
.main-banner2 .main-search__result {
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.6875rem;
}
.main-banner2 .main-search__txt {
  padding-top: 0.3125rem;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.375rem;
}
.main-banner2 .main-search__num {
  color: #9B192F;
}
.main-banner2 .main-search__bottom {
  padding-bottom: 1.875rem;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  position: relative;
}
.main-banner2 .main-search__wrapper {
  font-size: 0;
  white-space: nowrap;
  box-sizing: border-box;
}
.main-banner2 .main-search__container {
  /*overflow: visible;*/
}
.main-banner2 .main-search__item {
  width: auto;
  padding: 0 0.25rem;
}
.main-banner2 .main-search__inner {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: normal;
  box-sizing: border-box;
  padding: 5px 7px;
  color: #000;
  border: 1px solid #cbcbcb;
}
.main-banner2 .main-search__inner.is-active {
  color: #9B192F;
  border: 1px solid #9B192F;
}
.main-banner2 .main-viewed {
  margin-top: -1.25rem;
  margin-bottom: -3.125rem;
  padding: 9.375rem 0 13.75rem;
}
.main-banner2 .main-viewed__wrap {
  width: 100%;
  display: block;
}
.main-banner2 .main-viewed__txt {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.375rem;
}

.main-best {
  position: relative;
  min-width: 75rem;
  line-height: 0;
}
.main-best__link {
  display: block;
}
.main-best__left {
  padding: 2.5rem 0;
}
.main-best__right {
  padding: 8.75rem 0 0;
}
.main-best__wrap {
  display: flex;
}
.main-best__wrap .wrap {
  width: 50%;
  float: left;
  display: inline-block;
}
.main-best__header {
  margin-bottom: 1.25rem;
  text-align: center;
}
.main-best__title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.4117647059;
  letter-spacing: 0.06em;
  font-weight: 400;
  text-transform: uppercase;
}
.main-best__tab--inner {
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.main-best__tab--item {
  display: inline-block;
  vertical-align: middle;
  padding: 1.5rem 0 0;
  border-top: 1px solid transparent;
}
.main-best__tab--item.is-current {
  border-bottom: 1px solid #000;
}
.main-best__tab--item:nth-child(2) {
  margin: 0 3.125rem;
}
.main-best__tab--link {
  display: block;
  font-size: 1.25rem;
  line-height: 1.4117647059;
  letter-spacing: 0.06em;
  font-weight: 400;
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: 400;
}
.is-current .main-best__tab--link {
  opacity: 1;
}

.best-thumb {
  padding: 0 9.5rem;
}
.best-thumb__inner {
  position: relative;
  width: 100%;
  display: block;
}
.best-thumb__inner:after {
  content: "";
  display: block;
}
.best-thumb__img {
  margin: 0 auto;
  display: block;
}
.best-thumb--prev {
  width: 0.9375rem;
  height: 1.875rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../../images/common/ico_slide_prev.svg?ver=211025") no-repeat center center / contain;
  background-size: 0.9375rem 1.875rem;
  z-index: 5;
  cursor: pointer;
}
.best-thumb--next {
  width: 0.9375rem;
  height: 1.875rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../../images/common/ico_slide_next.svg?ver=211025") no-repeat center center / contain;
  background-size: 0.9375rem 1.875rem;
  z-index: 5;
  cursor: pointer;
}
.best-thumb__wrap {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
}
.best-thumb__pagination {
  display: inline-block;
  bottom: 0;
  position: relative;
  text-align: center;
  font-size: 0;
  line-height: 0;
  z-index: 99;
}
.best-thumb__pagination .swiper-pagination-current {
  font-size: 1.125rem;
  line-height: 1.5833333333;
  padding-right: 0.6875rem;
  position: relative;
}
.best-thumb__pagination .swiper-pagination-current:after {
  content: "";
  width: 1px;
  height: 0.625rem;
  background-color: #B8B8B8;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.best-thumb__pagination .swiper-pagination-total {
  font-size: 1.125rem;
  line-height: 1.5833333333;
  padding-left: 0.625rem;
}
.best-thumb__bottom {
  margin-top: -1.5rem;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  line-height: 1.25rem;
}
.best-thumb__name {
  margin: 0 auto;
  font-weight: 300;
  text-align: center;
  line-height: 1.5rem;
}
.best-thumb__price {
  font-size: 0.875rem;
  line-height: 1.5714285714;
  letter-spacing: 0.06em;
  font-weight: 500;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  padding: 0.9375rem 0 1.25rem;
}

.main-banner3 {
  position: relative;
  min-width: 75rem;
  /**********
  * [QA - 디자인팀::2022-01-06]
  * - 모바일 풀페이지 메인세션 1~ 4번까지만 적용
  * - 디바이스 높이값 상관없이 full 이미지처리
  **********/
}
.main-banner3__inner {
  display: block;
  width: 100%;
  height: auto;
  line-height: 0;
}
.main-banner3__source {
  display: block;
}
.main-banner3__source--img {
  height: 100%;
}
.main-banner3__source--video {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-size: cover;
  background-position: center;
}
.main-banner3__img {
  width: 100%;
}
.main-banner3__video {
  width: 100%;
}
.main-banner3__content {
  bottom: 5.5rem;
  width: 100%;
  position: fixed;
  text-align: center;
}
.main-banner3__name {
  font-size: 1.375rem;
  line-height: 1.75rem;
}
.main-banner3__name.is-white {
  color: #fff;
}
.main-banner3__name.is-black {
  color: #000;
}
.main-banner3__pagination {
  bottom: 2.75rem;
  width: 100%;
  position: absolute;
  color: #fff;
  text-align: center;
  z-index: 99;
  font-size: 0;
  line-height: 0;
}
.main-banner3__pagination.is-white {
  color: #fff;
}
.main-banner3__pagination.is-white .swiper-pagination-current:after {
  background-color: #fff;
}
.main-banner3__pagination.is-black {
  color: #000;
}
.main-banner3__pagination.disabled {
  display: none !important;
}
.main-banner3__pagination .swiper-pagination-current {
  font-size: 1.125rem;
  line-height: 1.5833333333;
  padding-right: 0.6875rem;
  position: relative;
}
.main-banner3__pagination .swiper-pagination-current:after {
  content: "";
  width: 1px;
  height: 0.625rem;
  background-color: #000;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.main-banner3__pagination .swiper-pagination-total {
  font-size: 1.125rem;
  line-height: 1.5833333333;
  padding-left: 0.625rem;
}
.main-banner3 .swiper-progress-bar {
  bottom: 0;
  position: absolute;
  width: 100%;
  display: block;
  z-index: 1;
  height: 0.1875rem;
}
.main-banner3 .swiper-progress-bar .slide_progress-bar {
  margin: 0 auto;
  position: absolute;
  width: 30rem;
  height: 0.1875rem;
  background: rgba(255, 255, 255, 0.5);
  clear: both;
  opacity: 0;
  bottom: 1.25rem;
  left: 0;
  right: 0;
}
.main-banner3 .swiper-progress-bar .slide_progress-bar:after {
  position: absolute;
  top: 0;
  left: 0;
  background: #9B192F;
  height: 100%;
  width: 0;
  content: "";
  transition: 0.1s width linear;
}
.main-banner3 .swiper-progress-bar.active .slide_progress-bar {
  opacity: 1;
}
.main-banner3 .swiper-progress-bar.animate .slide_progress-bar:after {
  width: 100%;
  transition: width linear;
  transition-delay: unset;
  transition-duration: 5s;
}
.main-banner3 .main-banner, .main-banner3 .main-banner2, .main-banner3 .main-new {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.main-banner3 .main-banner .main-banner__inner, .main-banner3 .main-banner2 .main-banner__inner, .main-banner3 .main-new .main-banner__inner {
  width: auto;
}
.main-banner3 .main-banner .main-banner__source--img, .main-banner3 .main-banner2 .main-banner__source--img, .main-banner3 .main-new .main-banner__source--img {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.main-banner3 .main-banner .main-banner__video,
.main-banner3 .main-banner .main-banner2__video, .main-banner3 .main-banner2 .main-banner__video,
.main-banner3 .main-banner2 .main-banner2__video, .main-banner3 .main-new .main-banner__video,
.main-banner3 .main-new .main-banner2__video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}
.main-banner3 .main-banner .main-banner__img,
.main-banner3 .main-banner .main-banner2__img, .main-banner3 .main-banner2 .main-banner__img,
.main-banner3 .main-banner2 .main-banner2__img, .main-banner3 .main-new .main-banner__img,
.main-banner3 .main-new .main-banner2__img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  font-size: 0;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}
.main-banner3 .main-new {
  height: auto;
}
@media screen and (min-device-height: 920px) {
  .main-banner3 .main-new__content {
    bottom: 100px;
  }
}
.main-banner3 .main-collection {
  position: relative;
  margin-top: 3.75rem;
}
.main-banner3 .main-collection__center {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.main-banner3 .main-collection__inner {
  display: block;
  position: absolute;
  width: 100%;
}
.main-banner3 .main-collection__img {
  width: 100%;
  display: block;
}
.main-banner3 .main-collection__button {
  margin: 0 1.25rem;
  padding: 0.875rem 0;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: 0.875rem;
}
.main-banner3 .main-membership {
  color: #9B192F;
  border-bottom: 1px solid #cbcbcb;
  position: relative;
}
.main-banner3 .main-membership .membership-wrap {
  padding: 3.75rem 0;
  text-align: center;
}
.main-banner3 .main-membership__header {
  font-size: 0.75rem;
}
.main-banner3 .main-membership__title {
  font-size: 1.25rem;
}
.main-banner3 .main-membership__logo {
  padding: 1.5rem 0 1.875rem;
}
.main-banner3 .main-membership__img {
  width: 2.625rem;
  height: 2.8125rem;
}
.main-banner3 .main-membership__info {
  padding-bottom: 2.1875rem;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.25rem;
}
.main-banner3 .main-membership__link {
  display: block;
}
.main-banner3 .main-membership__button {
  width: 13.125rem;
  margin: 0 auto;
  padding: 0.5rem 0;
  color: #fff;
  background: #9b192f;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-transform: uppercase;
}
.main-banner3 .main-project {
  position: relative;
  padding-bottom: 3.125rem;
}
.main-banner3 .main-project__header {
  padding: 3.75rem 0 2.5rem;
  text-align: center;
  font-size: 0.75rem;
}
.main-banner3 .main-project__brand {
  font-weight: 400;
}
.main-banner3 .main-project__title {
  font-size: 1.25rem;
  font-weight: 400;
}
.main-banner3 .main-project__link {
  display: block;
}
.main-banner3 .main-project__wrap {
  position: relative;
}
.main-banner3 .main-project__link + .main-banner3 .main-project__link {
  padding-top: 0.25rem;
}
.main-banner3 .main-project__visual {
  position: relative;
}
.main-banner3 .main-project__img {
  width: 100%;
  display: block;
}
.main-banner3 .main-project__name {
  width: 100%;
  position: absolute;
  color: #fff;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.main-banner3 .main-search {
  overflow: hidden;
}
.main-banner3 .main-search__wrap {
  padding: 0 1.25rem;
  text-align: center;
}
.main-banner3 .main-search__top {
  display: block;
  padding-bottom: 1.875rem;
}
.main-banner3 .main-search__result {
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.6875rem;
}
.main-banner3 .main-search__txt {
  padding-top: 0.3125rem;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.375rem;
}
.main-banner3 .main-search__num {
  color: #9B192F;
}
.main-banner3 .main-search__bottom {
  padding-bottom: 1.875rem;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  position: relative;
}
.main-banner3 .main-search__wrapper {
  font-size: 0;
  white-space: nowrap;
  box-sizing: border-box;
}
.main-banner3 .main-search__container {
  /*overflow: visible;*/
}
.main-banner3 .main-search__item {
  width: auto;
  padding: 0 0.25rem;
}
.main-banner3 .main-search__inner {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: normal;
  box-sizing: border-box;
  padding: 5px 7px;
  color: #000;
  border: 1px solid #cbcbcb;
}
.main-banner3 .main-search__inner.is-active {
  color: #9B192F;
  border: 1px solid #9B192F;
}
.main-banner3 .main-viewed {
  margin-top: -1.25rem;
  margin-bottom: -3.125rem;
  padding: 9.375rem 0 13.75rem;
}
.main-banner3 .main-viewed__wrap {
  width: 100%;
  display: block;
}
.main-banner3 .main-viewed__txt {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.375rem;
}

.main-collection {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 6.25rem 0 6.25rem;
}
.main-collection__wrap {
  display: flex;
  align-items: center;
}
.main-collection__header {
  position: relative;
  text-align: center;
  padding-top: 3.4375rem;
}
.main-collection__title {
  top: 0;
  position: relative;
  font-size: 1.875rem;
  line-height: 2rem;
  z-index: 90;
  font-weight: 300;
  text-transform: uppercase;
}
.main-collection__left {
  margin: 0 auto;
  flex: 1;
  display: inline-block;
  width: 21.25rem;
  min-width: 21.25rem;
}
.main-collection__container {
  overflow: visible;
}
.main-collection__slide {
  flex: 1;
  position: relative;
  margin: 0 1.125rem;
  float: right;
  display: inline-block;
  width: 98.75rem;
  min-width: 98.75rem;
  overflow: hidden;
}
.main-collection__slide .swiper-wrapper {
  transition-timing-function: linear;
}
.main-collection__prev {
  width: 0.5rem;
  height: 1rem;
  position: absolute;
  left: 8.125rem;
  background: url("../../images/common/ico_slide_prev.svg?ver=211025") no-repeat center center / contain;
  background-size: 0.5rem 1rem;
  z-index: 5;
  cursor: pointer;
}
.main-collection__next {
  width: 0.5rem;
  height: 1rem;
  position: absolute;
  left: 204px;
  background: url("../../images/common/ico_slide_next.svg?ver=211025") no-repeat center center / contain;
  background-size: 0.5rem 1rem;
  z-index: 5;
  cursor: pointer;
}
.main-collection__item {
  padding: 0 0.15625rem;
  box-sizing: border-box;
}
.main-collection__inner {
  display: block;
  width: 100%;
  line-height: 0;
}
.main-collection__img {
  display: block;
  width: auto;
}
.main-collection__content {
  position: absolute;
  color: #000;
  text-align: center;
}
.main-collection__name {
  padding: 0 0.625rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.25rem;
  color: #fff;
  text-transform: uppercase;
}
.main-collection__price {
  padding-top: 0.3125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.main-collection__option {
  padding-top: 2.5rem;
}
.main-collection__pagination {
  top: -0.3125rem;
  width: 100%;
  position: relative;
  color: #000;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.main-collection__pagination .swiper-pagination-current {
  font-size: 1.125rem;
  line-height: 1.5833333333;
  padding-right: 0.6875rem;
  position: relative;
}
.main-collection__pagination .swiper-pagination-current:after {
  content: "";
  width: 1px;
  height: 0.875rem;
  background-color: #B8B8B8;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.main-collection__pagination .swiper-pagination-total {
  font-size: 1.125rem;
  line-height: 1.5833333333;
  padding-left: 0.625rem;
}
.main-collection__more {
  display: block;
  padding-top: 1.5625rem;
}
.main-collection__link {
  display: block;
}
.main-collection__button {
  margin: 0 auto;
  width: 10rem;
  padding: 0.625rem 0;
  border: 1px solid #000;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.main-gift-bottom {
  padding-bottom: 3.125rem;
  bottom: 0;
  width: 100%;
}
.main-gift__wrap {
  display: flex;
}
.main-gift__inner {
  position: relative;
  height: 100%;
  margin: 0 3.125rem;
}
.main-gift__inner.is-black {
  color: #000;
}
.main-gift__inner.is-white {
  color: #fff;
}
.main-gift__title {
  display: flex;
  padding: 3.125rem 0 7.5rem;
  font-size: 1.875rem;
  font-weight: 400;
  text-transform: uppercase;
}
.main-gift__left {
  flex: 1;
  background: url("../../images/main/main-gift-background.jpg?ver=211025") no-repeat center center / contain;
  background-size: cover;
}
.main-gift__right {
  flex: 1;
  background-color: #f5f5f5;
}
.main-gift__info {
  flex: 1;
}
.main-gift__info--top {
  margin: 0;
  font-size: 1.375rem;
  font-weight: 400;
}
.main-gift__info--bottom {
  margin: 0;
  padding-top: 0.5rem;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6666666667;
}
.main-gift__gender {
  right: 0;
  position: absolute;
}
.main-gift__link {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
}
.main-gift__link:after {
  content: "";
  right: 0;
  width: 0.5rem;
  height: 1.875rem;
  position: absolute;
  background-size: 0.5rem 1rem;
}
.main-gift__link.is-black:after {
  background: url("../../images/main/main-gift-arrow01.png?ver=211025") no-repeat center center / contain;
}
.main-gift__link.is-white:after {
  background: url("../../images/common/ico_slide_next_w.svg?ver=211025") no-repeat center center / contain;
}
.main-gift__link + .main-gift__link {
  margin-top: 1.25rem;
}

.main-membership__wrap {
  display: flex;
}
.main-membership__inner {
  padding: 3.125rem;
}
.main-membership__info {
  display: flex;
}
.main-membership__title {
  display: flex;
  padding: 3.125rem 0 7.5rem;
  color: #9B192F;
  font-size: 1.875rem;
  font-weight: 400;
  text-transform: uppercase;
}
.main-membership__txt {
  padding-top: 0.5rem;
  flex: 1;
  color: #9B192F;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6666666667;
}
.main-membership__logo {
  right: 0;
  position: absolute;
  width: 3.3125rem;
  height: auto;
}
.main-membership__button {
  margin-top: 0.5rem;
  width: 15rem;
  height: 3.125rem;
  color: #fff;
  background-color: #9B192F;
  font-size: 1.5rem;
  text-align: center;
}
.main-membership__link {
  display: block;
  line-height: 3.125rem;
}

.main-banner4 {
  position: relative;
  overflow: hidden;
  padding: 8.125rem 0 8.125rem;
}
.main-banner4__title {
  font-size: 1.875rem;
  line-height: 1.4117647059;
  letter-spacing: 0.06em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 1.875rem;
}
.main-banner4__txt {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.4117647059;
  letter-spacing: 0.06em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
.main-banner4__container {
  overflow: visible;
}
.main-banner4__slide {
  position: relative;
  margin: 0 6.25rem;
}
.main-banner4__item {
  padding: 0 0.1875rem;
  box-sizing: border-box;
}
.main-banner4__inner {
  display: block;
  width: 100%;
  line-height: 0;
}
.main-banner4__link {
  display: block;
  width: 100%;
}
.main-banner4__img {
  margin: 0 auto;
  display: block;
  width: 100%;
}
.main-banner4__content {
  position: absolute;
  color: #ffe100;
  text-align: center;
  bottom: 1.875rem;
}
.main-banner4__name {
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: uppercase;
}
.main-banner4__name2 {
  font-size: 1.875rem;
  font-weight: 400;
  text-transform: uppercase;
}
.main-banner4__prev {
  width: 1.125rem;
  height: 2.125rem;
  position: absolute;
  left: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: url("../../images/common/ico_slide_prev_w.svg?ver=211025") no-repeat center center / contain;
  background-size: 1.125rem 2.125rem;
  z-index: 5;
  cursor: pointer;
}
.main-banner4__next {
  width: 1.125rem;
  height: 2.125rem;
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: url("../../images/common/ico_slide_next_w.svg?ver=211025") no-repeat center center / contain;
  background-size: 1.125rem 2.125rem;
  z-index: 5;
  cursor: pointer;
}
.main-banner4__pagination {
  /*bottom: calcRem(20rem);*/
  padding: 1.25rem 0 0;
  width: 100%;
  position: relative;
  color: #000;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.main-banner4__pagination .swiper-pagination-current {
  font-size: 1.125rem;
  line-height: 1.5833333333;
  padding-right: 0.6875rem;
  position: relative;
}
.main-banner4__pagination .swiper-pagination-current:after {
  content: "";
  width: 1px;
  height: 0.625rem;
  background-color: #B8B8B8;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.main-banner4__pagination .swiper-pagination-total {
  font-size: 1.125rem;
  line-height: 1.5833333333;
  padding-left: 0.625rem;
}
.main-banner4 .swiper-progress-bar {
  position: absolute;
  width: 100%;
  display: block;
  z-index: 1;
  height: 0.1875rem;
}
.main-banner4 .swiper-progress-bar .slide_progress-bar {
  margin: 0 6.4375rem;
  position: absolute;
  height: 0.1875rem;
  background: rgba(255, 255, 255, 0.5);
  width: auto;
  clear: both;
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.main-banner4 .swiper-progress-bar .slide_progress-bar:after {
  position: absolute;
  top: 0;
  left: 0;
  background: #9B192F;
  height: 100%;
  width: 0;
  content: "";
  transition: 0.1s width linear;
}
.main-banner4 .swiper-progress-bar.active .slide_progress-bar {
  opacity: 1;
}
.main-banner4 .swiper-progress-bar.animate .slide_progress-bar:after {
  width: 100%;
  transition: width linear;
  transition-delay: unset;
  transition-duration: 5s;
}

@media screen and (max-width: 1200px) {
  .main-gift__title {
    padding: 2.5rem 0 7.5rem;
  }
  .main-gift__info--bottom {
    width: 24.25rem;
  }
  .main-membership__title {
    padding: 2.5rem 0 7.5rem;
  }
  .main-membership__button {
    align-self: flex-end;
  }
}
.scroll-stop {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

.cover-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  min-width: 87.5rem;
}
.cover-wrap.is-hide {
  display: none;
}
.cover-wrap__home, .cover-wrap__swipe {
  z-index: 1000000000;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.cover-wrap__swipe {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
}
.cover-wrap__swipe.is-hide {
  display: none;
}
.cover-wrap__dim {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
}
.cover-wrap__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cover-wrap__link {
  display: inline-block;
  top: 1.25rem;
  right: 1.25rem;
  position: fixed;
  text-align: center;
}
.cover-wrap__img--swipe {
  width: 6.25rem;
}
.cover-wrap__img--home {
  width: 3.75rem;
}

canvas#cover1 {
  width: 100%;
  height: 100vh;
}

#cover1 {
  width: 100% !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999997;
}

#cover2 {
  width: 100% !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999998;
}

#cover3 {
  width: 100% !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
}

/*# sourceMappingURL=main.css.map */
